#1. Identify types

In [3]:
type(99.9)

float

In [4]:
type("False")

str

In [5]:
type(False)

bool

In [6]:
type('0')

str

In [7]:
type(0)

int

In [8]:
type(True)

bool

In [9]:
type('True')

str

In [10]:
type([{}])

list

In [11]:
type({'a':[]})

dict

#2. What data type would best represent the following?
A term or phrase typed into a search box: 
    string
Whether or not a user is logged in: 
    bool
A discount amount to apply to a user's shopping cart: 
    float
Whether or not a coupon code is valid:
    bool
An email address typed into a registration form:
    string
The price of a product:
    float
A matrix:
    list of lists
The email addresses collected from a registration form:
    list of strings
Information about applicants to Codeup's data science program:
    dictionary

#3. Predict then execute

In [13]:
# '1'+2 = 12
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [14]:
# 6 % 4 = 2
6%4

2

In [15]:
#type(6%4) = int
type(6 % 4)

int

In [16]:
# type(type(6 % 4)) = int
type(type(6 % 4))

type

In [17]:
# '3 + 4 is ' + 3 + 4 = '3 + 4 is' 7
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [18]:
# 0 < 0 =False
0 < 0

False

In [19]:
# 'False' == False = False
'False' == False

False

In [20]:
# True == 'True' = False
True == 'True'

False

In [21]:
# 5 >= -5 = True
5 >= -5

True

In [22]:
# True or "42" = True
True or "42"

True

In [23]:
# 6 % 5 = 1
6 % 5

1

In [24]:
# 5 < 4 and 1 == 1 = False
5 < 4 and 1 == 1

False

In [25]:
# 'codeup' == 'codeup' and 'codeup' == 'Codeup' = False
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [26]:
# 4 >= 0 and 1 !== '1' = True
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (158272659.py, line 2)

In [27]:
# 6 % 3 == 0 = True
6 % 3 == 0

True

In [28]:
# 5 % 2 != 0 = True
5 % 2 != 0

True

In [29]:
# [1] + 2 = 3
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [30]:
# [1] + [2] = [1, 2]
[1] + [2]

[1, 2]

In [31]:
# [1] * 2 = [1, 1]
[1] * 2

[1, 1]

In [32]:
# [1] * [2] = Error
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [33]:
# [] + [] == [] = True
[] + [] == []

True

In [34]:
# {} + {} = Error
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

#5. You have rented movies for your kids
    The Little Mermaid for 3 days
    Brother Bear for 5 days
    Hercules for 1 day
   If the fee is $3 per movie per day, how much will you have to pay?

In [86]:
price_rate = 3
little_mer = 3
bro_bear = 5
herc = 1
total_price = (little_mer + bro_bear + herc) * price_rate
total_price
# (3*3)+(5*3)+(1*3)

27

#6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars
This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [89]:
google = 400
amazon = 380
facebook = 350
g_hours = 6
am_hours = 4
fb_hours = 10

wk_paycheck = (google*g_hours) + (amazon*am_hours) + (facebook*fb_hours)

wk_paycheck

# (10*facebook)+(6*google)+(4*amazon)

7420

#7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [94]:
class_is_not_full = True
schedule_does_not_conflict = True
enroll = class_is_not_full and schedule_does_not_conflict
enroll

#c = 'class'
#x = 'full'
#y = 'not full'
#cs = 'class schedule'
#ss = 'student schedule'
#if c == y and cs != ss:
#    print('Enroll Student')

True

#8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [95]:
premium_member = True
more_than_two_items = True
coupon_not_expired = True
coupon_not_expired and (more_than_two_items or premium_member)

#p = 'person'
#i = 'item'
#r = 'restriction of 2'
#o = 'offer'
#e = 'expired'
#pm = 'premium'
#if i > r or p == pm and o != e:
#    print('Product Offer')

True

#9. Use the following code to follow the instructions below:

username = 'codeup'
password = 'notastrongpassword'

Create a variable that holds a boolean value for each of the following conditions:

The password must be at least 5 characters
The username must be no more than 20 characters
The password must not be the same as the username
Bonus Neither the username or password can start or end with whitespace

In [97]:
my_username = 'Alexia'
my_password = 'DataScienceRocks'
check_1 = len(my_username) > 4
check_2 = len(my_password) <= 20
check_3 = my_username != my_password
check_4 = my_username.strip() == my_username and my_password.strip() == my_password

#username = 'codeup'
#password = 'notastrongpassword'
#p = '01234'
#u = '0123456789abcdefghif'
#if len(password) >= len(p) and len(username) <= len(u) and password != username:
#    print(True)

In [98]:
check_1

True

In [99]:
check_2

True

In [100]:
check_3

True

In [101]:
check_4

True